.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 50px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.bg-trans {
    -fx-background-color: transparent;
}

.border-trans {
    -fx-border-color: transparent;
}


.taskCard {
    -fx-background-color: white;
}

.taskCard:hover {
    -fx-background-color: #f8e9a0;
}

.btnActionList {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}



.taskHeader {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-font-weight: bolder;
}

.taskBody {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}
.tferror {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.signinBtn {
    -fx-background-color: #2ECC40;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-font-weight: bolder;
}

.signinBtn:hover {

    -fx-background-color: #63d26e;
}

.registerBtn {
    -fx-background-color: #0074D9;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-font-weight: bolder;
}

.registerBtn:hover {
    -fx-background-color: #5997ca;
}