.headerPane {
    -fx-background-color: #d9bc48;
}

.titleLogoPage {
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-opacity: 0.3;
    -fx-fill: black;
}

.titleLogoPage:hover {
    -fx-opacity: 0.8;
}


.footerPane {
    -fx-background-color: #d9bc48;
}