.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 50px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.bg-trans {
    -fx-background-color: transparent;
}

.border-trans {
    -fx-border-color: transparent;
}

/********** TASK CARD **********/

.task {
    -fx-background-color: white;
}

.task:hover {
    -fx-background-color: #f8e9a0;
}

.btnActionList {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}

.taskHeader {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-font-weight: bolder;
}

.taskBody {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

/********** (END) TASK CARD **********/

.showDoneTasks {
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.createListBtn {
    -fx-background-color: #3b3939;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-font-weight: bolder;
}