/********** all **********/

.bg-trans {
    -fx-background-color: transparent;
}

.border-trans {
    -fx-border-color: transparent;
}

.rounded {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

/********** TASK CARD **********/

.taskCard {
    -fx-background-color: white;
}

.taskCard:hover {
    -fx-background-color: #f8e9a0;
}

.btnActionList {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-size: 10px;
}

.taskHeader {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-font-weight: bolder;
}

.taskBody {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

/********** header **********/

.showDoneTasks {
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.trelloBtn {
    -fx-background-color: #4e97c2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-font-weight: bolder;
}

.trelloBtn:hover {
    -fx-background-color: #3588b9;
}

.logoutBtn {
    -fx-background-color: #c62424;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-font-weight: bolder;
}

.logoutBtn:hover {
    -fx-background-color: #bd1c1c;
}

.titleLogoPage {
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-opacity: 0.3;
    -fx-fill: white;
}

.titleLogoPage:hover {
    -fx-opacity: 0.8;
}

/********** body **********/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 50px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.headerTodolistView {
    -fx-background-color: #026aa7;
}

.todolistCard {
    -fx-background-color: #d0d0d0;
}
