.profilBanner {
    -fx-background-color: #ef7564;
}

.saveBtn {
    -fx-border-color: #bf8a6a;
    -fx-border-radius: 0;
    -fx-background-color: white;
    -fx-text-fill: #bf8a6a;
    -fx-font-size: 10px;
    -fx-font-weight: bolder;
}

.saveBtn:hover {
    -fx-background-color: #bf8a6a;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}